<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jinja operational htmlpages</title>
</head>
<body>
    <center>
        {% if a > b %}
        <h1>inside if block</h1>
        <h1>if condition working successfully </h1>
        {% else %}
        <h1>inside else block b is greate than a</h1>
        {% endif %}
    </center>
    
</body>
</html>